<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Direcciones-->
    <add key="Repositorio" value="N:\Proyectos\PanelUniversalServicios2"/>
    <add key="Reportes" value="C:\Users\vdmontero\Documents\Reportes\"/>
    <add key="Plantilla" value="Plantilla.docx"/>
    <add key="NombreArchivo" value="Reporte-{0}"/>
    <add key="Servidor" value="smtp-mail.outlook.com"/>
    <add key="Puerto" value="587"/>
    <add key="Host" value="victordmontero@hotmail.com"/>
    <add key="Pass" value=""/>
    <add key="Dominio" value="hotmail"/>
    <add key="Destinatario" value="victordanielmontero@gmail.com"/>
    <add key="Nombre" value="Victor D. Montero Adames"/>
    <add key="Proyecto" value="DESARROLLADOR NORMAL LEVEL MS .NET"/>
    <!--Mensajes aleatorios-->
    <add key="MensajePorDefecto1" value="Trabajando en un mantenimiento"/>
    <add key="MensajePorDefecto2" value="Mejorando apariencia de las vistas"/>
    <add key="MensajePorDefecto3" value="Corrigiendo problema del acceso a datos"/>
    <add key="MensajePorDefecto4" value="Agregando mantenimiento"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>